<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <a class="navbar-brand mr-md-auto" routerLink="/home" routerLinkActive="active">Hulk Store</a>
  
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" routerLink="/ingreso" routerLinkActive="active" *ngIf="rol ===  'ROL VENDEDOR'">Ingresar de Mercadería</a>
    <a class="p-2 text-dark" routerLink="/stock" routerLinkActive="active" *ngIf="rol ===  'ROL ADMINISTRADOR'">Stock Productos</a>
    <a class="p-2 text-dark" routerLink="/producto" routerLinkActive="active" *ngIf="rol ===  'ROL ADMINISTRADOR'">Gestión Productos</a>
  </nav>
  <nav>
      <a class="btn btn-link" routerLink="/home" routerLinkActive="active" *ngIf="rol" style="text-decoration: none; color: green ;">{{usuario}}</a>


      <a class="btn btn-link" routerLink="/singin" routerLinkActive="active" *ngIf="!rol">Sign in</a> | 
      <a class="btn btn-link" routerLink="/singup" routerLinkActive="active"*ngIf="!rol" >Sign up</a>


      <a class="btn btn-link" routerLink="/home" routerLinkActive="active" (click)="onLogout()" *ngIf="rol">Sign out</a>
  </nav>
</div>
