<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
  <a class="navbar-brand mr-md-auto" href="#">Hulk Store</a>
  <nav class="my-2 my-md-0 mr-md-3">
    <a class="p-2 text-dark" href="#">Ingresar Productos</a>
    <a class="p-2 text-dark" href="#">Stock Productos</a>
    <a class="p-2 text-dark" href="#">Ver Compras</a>
  </nav>
  <a class="btn btn-link" href="#">Sign in</a>  |  
  <a class="btn btn-link" href="#">Sign up</a>
</div>

<div class="container">
  <h2>Artículos</h2>
  <p class="lead">Tienda Online de productos para sus empleados</p>




  <div class="card-deck">
    <div class="card">
      <img class="card-img-top mx-5" src="https://ae01.alicdn.com/kf/HTB1wCcgJFXXXXajXVXXq6xXFXXXZ/Nuevo-2017-hombres-de-la-Marca-Polo-Camisa-Para-Hombre-Del-Dise-ador-Marcas-camisa-de.jpg_640x640.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card with supporting text below.</p>
        <div class="row">
          <p class="col-7">Precio: 10.25</p>
          <p class="col-5">Cantidad: 10</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top mx-5" src="https://ae01.alicdn.com/kf/HTB1wCcgJFXXXXajXVXXq6xXFXXXZ/Nuevo-2017-hombres-de-la-Marca-Polo-Camisa-Para-Hombre-Del-Dise-ador-Marcas-camisa-de.jpg_640x640.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card has supporting text below.</p>
        <div class="row">
          <p class="col-7">Precio: 10.25</p>
          <p class="col-5">Cantidad: 10</p>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-group">
          <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
        </div>
      </div>
    </div>
    <div class="card">
      <img class="card-img-top mx-5" src="https://ae01.alicdn.com/kf/HTB1wCcgJFXXXXajXVXXq6xXFXXXZ/Nuevo-2017-hombres-de-la-Marca-Polo-Camisa-Para-Hombre-Del-Dise-ador-Marcas-camisa-de.jpg_640x640.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This card with supporting text below.</p>
        <div class="row">
          <p class="col-7">Precio: 10.25</p>
          <p class="col-5">Cantidad: 10</p>
        </div>
      </div>
      <div class="card-footer">
        <button type="button" class="btn btn-sm btn-outline-secondary">Add</button>
      </div>
    </div>
  </div>
  
</div>
